.auth-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://i.pinimg.com/736x/10/44/65/10446544282e575e830d11a3a4c190e4.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px 0 0 10px;
}

/* Product Card */
.product-card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
}

/* Image Container */
.image-container {
  width: 100%;
  height: 200px;
  /* increase if you want bigger */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.product-image {
  width: 100%;
  height: 260px;
  /* fixed height */
  object-fit: cover;
  /* crop image, no distortion */
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.carousel-item {
  height: 330px;
}

.carousel-item img {
  height: 100%;
}


.product-image:hover {
  transform: scale(1.1);
}

/* Brand logo */
.brand-logo {
  height: 95px;
  width: auto;
  object-fit: contain;
}

/* Brand text */
.brand-text {
  line-height: 1.1;
  text-align: center;
}

.brand-title {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: #198754;
  /* bootstrap success */
}

.brand-tagline {
  font-size: 0.75rem;
  color: #6c757d;
}

/* Mobile responsive */
@media (max-width: 576px) {
  .brand-logo {
    height: 38px;
  }

  .brand-title {
    font-size: 1.3rem;
  }
}

/* Category Video Card */
.category-video-card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  background-color: transparent;
}

.category-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Hover zoom effect */
.category-video-card:hover video {
  transform: scale(1.05);
  transition: transform 0.4s ease;
}